* {
  box-sizing: border-box;
  margin: 25px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
    background:
    linear-gradient(rgb(238, 188, 196), rgb(117, 117, 223));
}

form {
    font-family:'Courier New', Courier, monospace;
    background: rgb(154, 108, 211);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    box-shadow:
    2px 5px 20px #323267,
    -3px -11px 7px #652d79 inset;
}

button {
    font-family:'Courier New', Courier, monospace;
    background: rgb(149, 209, 237); box-shadow:
    10px 10px 0px rgb(72, 150, 183),
    20px 20px 0px rgb(87, 103, 210),
    30px 30px 0px rgb(69, 69, 194);
}

button:hover {
    background-color: rgb(88, 42, 163);
}